<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <File>./logs/myapp.log</File>-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%-5level] %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- CloudWatchに直接ログ出力する場合はこれが使えそう -->
    <!-- https://github.com/dibog/cloudwatch-logback-appender -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="FILE" />-->
    </root>

</configuration>
